/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~angular-notifier/styles.css";

h1 {
  color: blue;
  margin-bottom: 5pt;
}

h2 {
  color: blue;
  margin-bottom: 5pt;
}
