<div>
  <mat-form-field class="form-format">
    <table>
      <tr>
        <td><input matInput #editInput class="text-css" placeholder="Enter update"></td>
        <td><button
          mat-raised-button
          color="primary"
          class="button1"
          (click)="onUpdate(editInput)"
          >Submit
        </button></td>
      </tr>
    </table>
  </mat-form-field>
 <div>
  <mat-checkbox
    class="completion-box"
    labelPosition="before"
    (change)="onMark($event)"
    [(checked)]="parentToDo.completed"
    [(ngModel)]="parentToDo.completed">
      Completed?
  </mat-checkbox>{{displayCompleted()}}
  </div>
  <div class="time-text" *ngIf="parentToDo.completed">
    Completed On: {{parentToDo.completedAt | date: 'medium'}}
  </div>
</div>
