<h1>Welcome to the to do application!</h1>


<span *ngIf="!finalIsUserLoggedIn()">
  <button class="menubutton" mat-raised-button color="primary" onclick="onLogin()">Login</button>
  <button class="menubutton" mat-raised-button color="primary" onclick="onCreateUser()">Create an account</button>
</span>


<span *ngIf="finalIsUserLoggedIn()">
  <button class="menubutton" mat-raised-button color="primary" (click)="hdrLogoff()">Logoff</button>
  <button class="menubutton" mat-raised-button color="primary" (click)="hdrDeleteUser()">Delete your account</button>
</span>


<nav class="top-menu">
  <ul class="link-list">
    <li *ngIf="!finalIsUserLoggedIn()"><a [routerLink]="['/create-user']">Create an account</a></li>
    <li *ngIf="!finalIsUserLoggedIn()"><a [routerLink]="['/login']">Login</a></li>
    <!--
    <li *ngIf="finalIsUserLoggedIn()"><a class="pseudo-link" (click)="hdrDeleteUser()">Delete your account</a></li>
    <li *ngIf="finalIsUserLoggedIn()"><a class="pseudo-link" (click)="hdrLogoff()">Logoff</a></li>
    -->
    <br>
  </ul>
</nav>
