.second-button {
  display: list-item;
  background-color: transparent;
  padding: 0;
  text-decoration: underline;
  font-family: inherit;
  font-size: 16pt;
  color: blue;
  cursor: pointer;
  border:0
}
